{% extends 'base.html.twig' %}
{% block title %}Modifiction{% endblock %}
{% block body %}
  <h2>Modificter un élève</h2>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
  <p><a href='/eleves/liste'>retour liste</a></p>
{% endblock %}
